<div>
    <img [src]="employeeDetails.avatar" alt="{{employeeDetails.name}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{employeeDetails.name | uppercase }}</h5>
        <b *ngIf="(+employeeDetails.id) % 2 == 0">{{employeeDetails.name}} is Even</b>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-dark">Delete {{employeeDetails.name}}</button>
    </div>
</div>